
* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    header {
        /*background-color: aquamarine;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
      }
      
      header nav ul {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 2% 0%;
    
      }
    
      header nav ul li {
        margin: 0 1.25rem;
        font-weight: 700;
        /*flex: 1 100%;*/
        padding: .25rem 0;
      }
    
}